*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background:lavender;
    display: flex;
    flex-direction: column;
    
}
html,body{
    height: 100%;

}
main{
    flex: 1;
}



.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background:rgb(11, 38, 158);
    position: sticky;
    top: 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


.nav1 h1{
    color: rgb(253, 197, 197);
    font-size: 40px;
    font-weight: bold;
}
.nav1 h1 span{
    color: red;

}
.menu{
    display: flex;
    gap: 20px;
}

.nav1{
    display: flex;
    gap: 20px;
}
.nav1 a{
    color: rgb(247, 244, 241);
    font-weight: bold;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
}
.nav1 a:hover{
            background: rgba(0, 162, 255, 0.384);
            color: bisque;
            transform: scale(1.1);
}


.header1{
   display: flex;
   flex-direction: column;
   align-items: center;
   background:rgb(11, 38, 158);
   padding: 30px;
   border-radius: 15px;
   margin: 50px;
   text-align: center;
   
}
.header1 ol{
    list-style: none;
}
.header1 ol li{
            color: rgb(255, 251, 251);
            font-weight: bold;
            font-size: 20px;
}

.header1 i{
    font-size: 30px;
}
#lapt{
    color: #22c55e;
}
.fa-chart-line{
    color: #e34c26;
}
.fa-palette{
    color: #f0db4f;
}
.header1 ol p{
    color:black;
}

.header1 img{
    border-radius: 50%;
}
.serv{
    text-align: center;
    font-weight: bold;
    color: rgb(11, 38, 158);
}

.ap{
    text-align: center;
    color:rgb(11, 38, 158);
    font-weight: bold;
}

.header1 h2{
    text-align: center;
    font-weight: bold;
    color:white ;    
}
.header1 p{
    text-align: center;
    font-weight: bold;
    color: rgb(238, 172, 85);
}
.header1 button{
    border-radius:8px;
    background: transparent;
    border: 2px solid #4facfe;
    color: #4facfe;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.3s;
    
}
.header1 button:hover{
    background: #4facfe;
    color: white;
    transform: scale(1.1);
}
.sec1{
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  margin: 50px;
  height: 400px;
  background-image: url(image/moi.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;

}
.qui{
    max-width: 400px;
    color: white;
    background: rgba(3, 11, 85, 0.5);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(
        to right,rgba(0,0,0,0.7)
        rgba(0,0,0,0.2)
    );

}
.sec1 h1{
    color:rgb(136, 131, 131);
    font-weight: bold; 
    font-size: 40px;
   
}
.b1{
    color: #ea4335;
}
.script{
    color: rgb(211, 139, 139);
}
.sec1 #fa-brain{
    color: rgb(211, 139, 139);
    text-align: center;
    font-size: 35px;
}
.logo #lap{
    color: red;
}
.header1 #star{
    color: red;
}


.sec1 p{
    color: rgb(252, 247, 247);
}

.service{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.service div{
    max-width: 250px;
}



.produit h2{
    text-align: center;
    color:red;
    font-size: 30px;
   
}
.d5{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.d1{
    background:rgb(65, 5, 88);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}
.d1:hover{
    transform: scale(1.1);
}

.d1 img{
    width: 100%;
    height: 200px;
}
.produit p{
    color: white;
    text-align: center;
    font-weight: bold;
}
.produit h3{
    color: #ea4335 ;
    text-align: center;
    font-weight: bold;
}

.conctact{
    text-align: center;
    margin: 50px;
}
.conctact h2{
    color: rgb(11, 38, 158);
    font-weight: bold;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}
input, textarea{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

form button{
    background: #4facfe;
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

footer{
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    background:rgb(11, 38, 158);


}

i{
    font-size: 22px;
    color: #4facfe;
    transition: 0.3s;
}
i:hover{
    color: white;
    transform: scale(1.2);
}
.icon i{
    /* font-size: 25px;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background: rgb(65, 5, 88);
    color: #4facfe;
    transition: 0.3s; */

     font-size: 25px;
     padding: 10px;
     border-radius: 50%;
     width: 45px;
     height: 45px;
     justify-content: center;
     align-items: center;
     transition: 0.3s;
}

.icon i:hover{
    background: #4facfe;
    color: white;
    transform: scale(1.1);
}
.contact1{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact1 h3{
    color: red;
    font-weight: bold;
}

.icon_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px; 
        gap: 50px;

}
.icon_contact i{
           font-size: 35px;
           padding: 10px;
           border-radius: 50%;
           width: 60px;
           height: 60px;
           display: flex;
           justify-content: center;
           align-items: center;
           transition: 0.5s;
        
}


.icon_contact i:hover{
    background: white;
}

.icon_contact a{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    color:white;
    margin: 8px 0;
}
.icon_contact a:nth-child(2) i{
    color: #25d366;
    background-color: white;
}
.icon_contact a:nth-child(1) i{
    color: #1877f2;
    background-color: white;
}

.contact1 p{
    color: white;
}

.icon_contact a:nth-child(3) i{
    color: #ea4335;
    background: white;
}.contact1 b{
    color: rgb(8, 5, 5);
}
.service1{
    text-align: center;
    color: red;
    padding: 15px;
}
.service_liste{
    text-align: center;
}
.service_liste li{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    color: rgb(73, 38, 97);
}

.service_liste p{
    color: #ea4335;
    font-weight: bold;
}
.button1 button{
    background:  rgb(73, 38, 97);
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.button1{
    text-align: center;
    align-items: center;
    padding: 20px;
}


/* #moi_img img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
#moi_img{
    margin: 40px;
} */
 /* les icon */
.header1 p i{
    font-size: 40px;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
}

 .fa-html5{
    color: #e34c26;
 }
 .fa-css3-alt{
    color: #264de4;
 }
 .fa-js{
    color: #f0db4f;
 }
.fa-python{
    color: #3776ab;
}
.fa-database{
    color: #22c55e;
}
.separateur{
    width: 80%;
    margin: 50px auto;
    height: 2px;
    background: #1032ca;
}
.header1 .video{
    color: white;
}


@media(max-width:768px){
    .nav1{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        flex-wrap: wrap;

    }

    .menu{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }
    .menu a{
        font-size: 14px;
        padding: 5px;
        
    }
    .service{
        flex-direction: column;
    }
    .logo{
        flex-direction: column;
    }
    .logo img{
        width: 35px;
        height: 35px;
    }
    .logo h1{
        font-size: 18px;

    }
    .sec1{
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
    .qui{
        max-width: 100%;
    }

} 


